body {
  font-size: 1rem;
}
.title {
  font-family: "aktiv-grotesk-extended", sans-serif;
  font-weight: 800;
}
.title span {
  font-weight: bold;
}
nav {
  text-transform: uppercase;
}

.main-nav-wrapper {
  font-size: 1rem;
  font-weight: 500;
}
.navbar-brand {
  font-family: "aktiv-grotesk-extended", sans-serif;
  font-size: 50px;
  font-weight: 900;
}
.site-announcement {
  font-size: 1.2rem;
}

.hero h1 {
  font-size: 5rem;
  line-height: 1.2;
}
.hero p {
  font-size: 1.25rem;
  line-height: 1.5;
}
h2 {
  font-size: 2.6rem;
}
.hero .contact-form {
  font-size: 1.8rem;
  font-weight: 800;
}
.cta .content {
  font-size: 1.5rem;
}

.tweet-content {
  font-size: 1.1rem;
}
.tweet-content + .details {
  font-size: 1rem;
}
.tweet-card .title {
  font-size: 1.8rem;
}
.slick-arrow {
  font-size: 40px;
}

.action .content .title {
  font-size: 4rem;
}
.action .content h4 {
  font-size: 2.5rem;
}

footer {
  font-size: 1.2rem;
  line-height: 1.5;
}
footer .sm-icons i {
  font-size: 4rem;
}
footer .links-column {
}
footer .list-header {
  font-weight: bold;
}
