/* The intention is for this entire CSS file to be redone in SASS, please create additional, partial css files instead of adding to this one */
/* ---------------- Site Layout -------------------- */
/* WP Considerations */
.logged-in header.sticky {
  margin-top: 32px;
}
.logged-in main {
}

/* Main site layout */
header.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}
header {
  width: 100%;
}
main {
  margin-top: 160px;
}
/* Main nav height items */
nav {
  height: 80px;
  width: 100%; /* 1920 */
}
.nav-wrapper {
  justify-content: space-between;
  padding: 25px 3%; /* 50/1920 */
}
.navbar-brand {
  width: 13%; /* 230 / 1920 */
  text-align: left;
}
.menu-primary-container ul {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.menu-primary-container li {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.nav-links {
  width: 40%; /* 700 / 1920 */
}
.nav-donate {
  width: 10%; /* 180px / 1920 */
  text-align: right;
}
.nav-donate .button-wrapper {
  width: 100%;
}

.nav-logo a {
  display: block;
}
.nav-logo img {
  width: calc(80px - 1rem);
  height: auto;
}
.site-announcement {
  height: 80px;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.site-announcement:before {
  top: -2px;
}
.site-announcement:after {
  top: 100%;
}
.site-announcement:before,
.site-announcement:after {
  height: 2px;
  position: absolute;
  width: 100%;
  display: block;
  content: "";
  background: #989898;
  z-index: 5;
}
.site-announcement p {
  padding-left: 50px;
  margin-bottom: 0;
}
/* Reusable Components */
.divider {
  position: relative;
  height: 20px; /* this may be em based */
  width: 100%;
}
.divider:before,
.divider:after {
  height: 5px;
  position: absolute;
  width: 100%;
  display: block;
  content: "";
  background: #989898;
  z-index: 5;
}
.divider:before {
  top: -5px;
}
.divider:after {
  top: 100%;
}
ul {
  list-style-type: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.button-wrapper {
  text-align: center;
}
.slick-dots li button:before {
  font-size: 1rem;
}
.slick-dots ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
.slider-wrapper {
  margin: 0 45px;
  position: relative;
}
/* ---------------- Homepage -------------------- */
section {
  width: 100%;
  position: relative;
  display: flex;
}
.hero {
  height: 670px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero .content,
.hero .contact-form {
  /* centered within hero container vertically */
  height: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero .content {
  width: 35%; /* 675px 675/1920 */
  left: 10.4%; /* 200/1920 */
}
.hero p {
  margin-top: 50px;
}
.hero .contact-form {
  width: 25%; /* 475/1920 */
  right: 17%; /* 325px/1920 */
}

/* Action network area */
section.action-network {
  height: 870px;
  position: relative;
  flex-direction: column;
}
.action-network .header {
  height: 190px;
  width: 100%;
}
.action-network .header .title {
  margin-top: 50px;
  margin-left: 10.142%; /* 200px; */
  width: 28.65%; /* 550px; */
}
.action-network .interface {
  padding: 30px 1.3%; /* 25/1920 - edge padding may be the grid gutter */
}
.action-network .map {
  width: 100%;
}

/* CTA blocks */
section.cta {
  height: 715px;
  flex-direction: row;
}
section.cta .cta-image {
  width: 50%;
}
section.cta .content-wrapper {
  width: 50%;
}
section.cta .content {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 40px 50px 80px;
}
.content-wrapper ul {
  margin-bottom: 15px; /*All other elements have 40px padding, handled by flex */
  padding-left: 0;
}
section.cta .content-wrapper li {
  margin-bottom: 20px;
}
section.cta .content-wrapper li i {
  margin-right: 10px;
}

/* Twitter Feed */
section.feed {
  height: 675px;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.feed > .title {
  margin-left: 200px;
  margin-bottom: 50px;
}
.feed .slider-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
}
.feed .tweet-slider {
  width: 100%;
}
.tweet-slider .tweet-card {
  padding: 50px 20px 10px;
  /* width: 25%; */
  height: 375px;
  border: 1px solid lightblue;
  border-left-width: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.twee-slider .slick-dots {
  margin-top: 40px;
}
.tweet-slider .indicator {
  /* width: 5%; */
  font-size: 4rem;
}
.tweet-slider .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweet-card-wrapper {
  margin: 0 20px;
}

/* Action Slider */
section.action {
  height: 800px;
  padding: 40px auto;
}

.action .slider {
  width: 100%;
  position: relative;
}
.action .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.action .content {
  padding: 100px 40px;
  height: 590px;
  width: 600px;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.action .title {
  padding: 50px;
}
.action .button-wrapper {
  margin: 80px auto 50px;
  width: 225px;
}

footer {
  height: 980px;
  padding-top: 130px;
  padding-bottom: 130px;
}
footer .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
footer .content-wrapper > p {
  width: 40%;
}
footer .links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 60%;
}
footer .links .list-header {
  text-transform: uppercase;
}
footer .sm-icons ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .sm-icons li {
  margin: 8%;
}
footer .legal {
  width: 20%;
}
footer .legal > * {
  display: flex;
  justify-content: space-between;
}
