/* Setup 'pfa-colors-Default' */

// Base Colors
$primary: #45413d; //
$secondary: #dcdcdc; // Accent color, secondary applications sitewide
$tertiary: #1ab6b7; // Accent color, used for buttons, bold sections contrasting primary
$nav: $primary;

// Optional Overrides

// Background Settings

// Static Colors
$mute: darken(#fff, 20%);
$white: #ffffff;
$black: #000000;
$inherit: inherit;

// Manual eyeing: Text color which is neither white nor black, used for "call-out" links/headings
$primary-contrast: #fff;
$secondary-contrast: #fff;
$tertiary-contrast: #fff;
$body-contrast: $primary;
$nav-contrast: lighten($nav, 20%);
$white-contrast: $tertiary;
$mute-contrast: $tertiary;

// Complements - accents, highlights - these exist only in SASS, could be manually eyed or done programmatically
$primary-complement: darken($primary, 10%);
$secondary-complement: lighten($secondary, 10%);
$tertiary-complement: lighten($tertiary, 5%);
$white-complement: darken($white, 5%);
$mute-complement: darken($mute, 5%);

// Text colors based on a background
$bg-primary-body-text: choose-contrast-color($primary);
$bg-secondary-body-text: choose-contrast-color($secondary);
$bg-tertiary-body-text: choose-contrast-color($tertiary);
